<!DOCTYPE html>
<html>
  <body>
    <h1>Deployed with Ansible as sample apache website</h1>
    <p>
    <h2> IP: {{ ansible_default_ipv4.address  }}<h2>
    <h2> hostname: {{ ansible_hostname  }}<h2>
  </body>
</html>
